body {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;

}

.headerFirstSection {
    display: flex;
    flex-direction: row;
    background-color: #52332b;
    padding: 8px;
    align-items: center;
    gap: 10px;
    padding-left: 80px;
    height: 70px;

}

.headerFirstSection p {
    color: white;
    font-size: 14px;
}

.headerFirstSection i {
    color: white;
}

.socialSection {
    display: flex;
    gap: 20px;
    padding-left: 40px;
}

.socialSection :hover {
    background-color: #3d2520;
}

.socialSection i {

    color: white;


}

.socialSection i:hover {
    cursor: pointer;
    background-color: #3d2520;
}

.secondSocialSection {
    display: flex;
    gap: 20px;
    padding-left: 400px;
}

.secondSocialSection i {
    color: white;
}

.secondSocialSection :hover {
    cursor: pointer;
}

.para {
    display: flex;

    text-align: center;
    background-color: #3d2520;
    padding: 10px;
    margin: 0;
    margin-right: 5px;
}

.para p {

    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    width: 100%;
}

.para:hover {
    cursor: pointer;
    background-color: #6e2314;
}

/* Reponsive  header section*/
@media screen and (max-width: 1000px) {
    .headerFirstSection {
        display: none;
    }
}

.navbarSection {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 10px;
    margin: 0;
}

.logo img {
    width: 180px;
    height: auto;
}

.logo :hover {
    cursor: pointer;
}

.navbarSection ul {
    display: flex;
    flex-direction: row;
    gap: 13px;
}

.navbarSection ul :hover {
    cursor: pointer;
}

.navbarSection ul li {
    color: white;
    list-style: none;
}

.callIcon {
    display: flex;
    color: white;
    gap: 10px;
}

.callIcon i {
    font-size: 13px;
}

.callIcon :hover {
    cursor: pointer;
}

/* Reponsive second header section(navbar) */
@media screen and (max-width: 1000px) {

    .navbarSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 30px;
        gap: 10px;
    }


}

@media screen and (max-width: 320px) {

    .navbarSection {
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
        justify-content: start;
        align-items: start;
        text-align: start;
        padding: 0px;
        gap: 5x;
    }

    .navbarSection ul {
        display: flex;
        flex-direction: column;
        gap: 13px;
    }

    .logo {
        display: none;
    }

    .callIcon {
        display: none;
    }
}

/* Hero Section */
.heroSection {
    background-image: url(./assets/hero\ section/hero-section.png);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    margin: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50%;
    padding-left: 100px;
    gap: 0px;
}

.heroSection p {
    font-size: 20px;
    margin: 0;
    line-height: 1.2;
    font-family: 'caudex', sans-serif;

}

.heroSection h1 {
    font-size: 70px;
    margin: o;
    line-height: 1;
    font-family: 'caudex', sans-serif;
}

.heroSectionPara {
    font-size: 17px;
    font-weight: 200;
    line-height: 1.4;
}

.buttonn {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 30px;
    justify-content: start;
}

.buttonOne button {
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    background-color: #52332b;
    color: white;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1;
    margin: 0;
    font-family: 'roboto';
}

.buttonOne :hover {
    background-color: #6e2314;
    cursor: pointer;
}

.buttonTwo button {
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1;
    margin: 0;
    font-family: 'roboto';
}

.buttonTwo :hover {
    background-color: #d6d3d2;
    cursor: pointer;
}

@media screen and (max-width: 780px) {
    .heroSection {
        background-image: url(./assets/hero\ section/hero-section.png);
        background-position: center;
        background-repeat: no-repeat;
        /* background-size: cover; */
        margin: 0;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 30%;
        padding-left: 100px;
        gap: 0px;
    }

    .heroSection p {
        font-size: 15px;
        margin: 0;
        line-height: 1.6;

    }

    .heroSection h1 {
        font-size: 30px;
        margin: o;
        line-height: 1.5;
    }

    .heroSectionPara {
        font-size: 10px;
        font-weight: 200;
        line-height: 1.8;
    }

    .buttonn {
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-top: 20px;
        justify-content: start;
    }

    .buttonOne button {
        padding: 15px 25px;
        border: none;
        border-radius: 10px;
        background-color: #52332b;
        color: white;
        font-size: 12px;
        letter-spacing: 0px;
        line-height: 1;
        margin: 0;
        font-family: 'roboto';
    }

    .buttonOne :hover {
        background-color: #6e2314;
        cursor: pointer;
    }

    .buttonTwo button {
        padding: 15px 25px;
        border: none;
        border-radius: 10px;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        font-size: 12px;
        letter-spacing: 0px;
        line-height: 1;
        margin: 0;
        font-family: 'roboto';
    }

    .buttonTwo :hover {
        background-color: #d6d3d2;
        cursor: pointer;
    }
}

@media screen and (max-width: 320px) {
    .heroSection {
        background-image: url(./assets/hero\ section/hero-section.png);
        background-position: center;
        background-repeat: no-repeat;
        /* background-size: cover; */
        margin: 0;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 10%;
        padding-left: 10px;
        gap: 0px;
    }

    .heroSection p {
        font-size: 15px;
        margin: 0;
        line-height: 1.6;

    }

    .heroSection h1 {
        font-size: 30px;
        margin: o;
        line-height: 1.5;
    }

    .heroSectionPara {
        font-size: 10px;
        font-weight: 200;
        line-height: 1.8;
    }

    .buttonn {
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-top: 20px;
        justify-content: start;
    }

    .buttonOne button {
        padding: 15px 25px;
        border: none;
        border-radius: 10px;
        background-color: #52332b;
        color: white;
        font-size: 10px;
        letter-spacing: 0px;
        line-height: 1;
        margin: 0;
        font-family: 'roboto';
    }

    .buttonOne :hover {
        background-color: #6e2314;
        cursor: pointer;
    }

    .buttonTwo button {
        padding: 15px 25px;
        border: none;
        border-radius: 10px;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        font-size: 10px;
        letter-spacing: 0px;
        line-height: 1;
        margin: 0;
        font-family: 'roboto';
    }

    .buttonTwo :hover {
        background-color: #d6d3d2;
        cursor: pointer;
    }
}

/* Company About Us Section */
.companyAboutUs {
    display: flex;
    flex-direction: row;
    padding: 8%;
    gap: 100px;
}

.imageSection {
    position: relative;
    width: 100%;
}

.secondImage {
    position: absolute;
    top: 60%;
    left: 60%;
}

.companyContentSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.companyContentSection p1 {

    color: #52332b;
    font-size: 22px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.companyContentSection h2 {
    font-size: 50px;
    margin: 0;
    font-family: 'caudex', serif;
}

.companyContentPara {
    color: rgb(96, 94, 94);
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 200;
    text-align: start;
    line-height: 26px;
}

.signatureButton {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 110px;
    margin: 0;
    line-height: 1px;
    padding-top: 10px;
}

.signatureSection {
    font-size: 28px;
    color: #3d2520;
    font-family: 'caudex', serif;
    font-weight: 900;
}

.signatureSection p {
    line-height: 2rem;
}

/* Responsice Comapny About Section */
@media screen and (max-width:780px) {
    .companyAboutUs {
        display: flex;
        flex-direction: column;
        gap: 70px;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .firstImage {
        padding: 1px;
        margin: 0;
    }

    .firstImage img {
        height: auto;
        width: 100%;
    }

    .secondImage img {
        height: auto;
        width: 100%;
    }

    .companyContentSection {
        padding: 0;
    }
}

@media screen and (max-width:320px) {
    .companyContentSection h2 {
        font-size: 26px;
    }

    .companyContentPara {
        font-size: 10px;
        color: rgb(55, 54, 54);
        font-weight: 400;
        line-height: 1rem;
    }

    .signatureButton {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        gap: 0;
        justify-content: start;
        align-items: start;
    }
}

/* Services Section */
.serviceContent {
    background-color: #f7f5f1;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 200px;
}

.serviceContentPara {
    padding-left: 90px;
    padding-right: 90px;
    margin-top: 15px;
    line-height: 1.75rem;
}

.serviceContent p {
    color: #52332b;
    font-size: 22px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.serviceContent h3 {
    font-size: 50px;
    margin: 0;
    font-family: 'caudex', serif;
}

.serviceContent p1 {
    color: rgb(96, 94, 94);
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 200;
    text-align: start;
    line-height: 26px;
}

.serviceCardSection {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 50px;
}

.fiestCard {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: start;
    align-items: start;
    text-align: start;
    padding: 30px;
}

.fiestCard img {
    height: 40px;
    width: 40px;
    margin: 0;
}

.fiestCard h5 {
    margin-bottom: 15px;
    font-size: 26px;
    color: black;
    font-family: 'Caudex', serif;
    cursor: pointer;
}

.fiestCard p {

    color: #101010;
    margin-top: 0px;
    font-size: 10px;
    font-weight: 300;
    line-height: 1.50rem;
    cursor: pointer;
}

.fiestCard a {
    color: #3d2520;
    text-decoration: none;
}

/* Responsive Sevice Section */
@media screen and (max-width:780px) {
    .serviceCardSection {
        display: flex;
        flex-direction: column;
    }

    .serviceContentPara {
        padding: 0px;
    }

    .fiestCard p {
        font-size: 15px;
    }
}

@media screen and (max-width:320px) {
    .serviceContent {
        padding: 10px;
    }

    .serviceContent p {
        font-size: 13px;
    }

    .serviceContent h3 {
        font-size: 25px;
    }

    .serviceContentPara {
        font-size: 1px;
        line-height: 1rem;
    }
}

.formImage {
    display: flex;
    flex-direction: row;
    padding: 0px;
    background-color: #52332b;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: space-between;
    margin-top: -150px;


}

.formAndCntent {
    padding-left: 40px;
    width: 45%;
}

.formContent p {
    font-family: 'caudex', serif;
    color: white;
    font-size: 19px;
}

.formContent h1 {

    font-family: 'caudex', serif;
    color: white;
    font-size: 39px;
}

.formMaking {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2px;
    padding-right: 25px;
    padding-bottom: 10px;

}

.formm {
    background-color: #52332b;
    padding: 15px;

}

.enterYourName {
    background-color: #27140f;
    border: none;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 10px;
}

.formTwoParts {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-right: 10px;
}

.formm {

    background-color: #27140f;
    border: none;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    /* padding-right: 5px;
    padding-left: 5px; */
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 10px;
    color: gray;
    display: inline-block;
}

.time {
    background-color: #27140f;
    padding: 15px;
}

.buttonInnerCss {
    background-color: #ffffff;
    color: rgb(155, 69, 12);
    padding: 15px;
    justify-content: start;
    text-align: center;
    margin-top: 10px;
    border: none;
    border-radius: 15px;
    font-family: 'roboto';
    font-size: 15px;
    cursor: pointer;
}

/* Form Image */
.formrightiamge img {
    padding: 0;
    width: 100%;
    height: auto;
}

@media screen and (max-width:720px) {
    .formImage {
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: #52332b;
        /* margin-right: 100px;
    margin-left: 100px; */
        justify-content: center;
        align-items: center;
        margin-top: -150px;
    }

    .formContent p {
        font-family: 'caudex', serif;
        color: white;
        font-size: 19px;
    }

    .formContent h1 {

        font-family: 'caudex', serif;
        color: white;
        font-size: 29px;
    }

    .formTwoParts {
        display: flex;
        flex-direction: column;
        gap: 5px;


        /* margin-right: 10px; */
    }

    .formAndCntent {
        padding: 10;
        width: 100%;
    }

    .formrightiamge {
        width: 100%;
    }

}

@media screen and (max-width:320px) {

    .formImage {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .formContent {
        padding: 0;
    }

    .formContent p {
        font-family: 'caudex', serif;
        color: white;
        font-size: 15px;
    }

    .formContent h1 {
        font-size: 22px;
    }

    .formAndCntent {
        padding: 10;
        width: 100%;
    }

    .formrightiamge {
        width: 100%;
    }
}

.menuSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    background-color: #f3f1f0;
    margin-top: 80px;
}

.menuContentSection h5 {
    color: #52332b;
    font-size: 22px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.menuContentSection h2 {
    font-size: 50px;
    margin: 0;
    font-family: 'caudex', serif;
}

.menuContentSection p {
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 15px;
    line-height: 1.75rem;
    font-weight: 300;
    font-size: 13px;
    font-family: 'roboto', serif;
}

.menuMainSection {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 20px;
    background-color: #f3f1f0;
    justify-content: center;
    gap: 30px;

}

.firstPrice {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: start;
    border: 1px solid #52332b;
    padding: 10px;
    border-radius: 10px;
    background-color: #52332b;
    cursor: pointer;
}

.column:hover {
    background-color: white;

}

.column:hover .firstPrice h5 {
    color: #52332b;
}

.column:hover .firstPrice p {
    color: #52332b;
}

.column:hover h4 {
    color: #52332b;
}

.firstPrice h5 {
    font-size: 24px;
    font-family: 'caudex', serif;
    margin-top: 0px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0;
    line-height: 0.50rem;
    /* color: #52332b; */
    color: white;
}

.firstPrice p {
    margin-bottom: 10px;
    font-size: 13px;
    font-family: 'roboto', serif;
    margin-top: 0;
    line-height: 1.50;
    font-weight: 300;
    margin-right: 40px;
    color: white;

}

.column h4 {
    /* width: 100%; */
    float: right;
    text-align: center;
    /* color: #52332b; */
    font-size: 30px;
    font-weight: 600;
    font-family: 'Caudex', serif;
    color: white;

}

.buttonnn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    background-color: #f3f1f0;
    margin: 0;



}

.buttonnn button {
    background-color: white;
    padding: 20px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1;
    margin: 0;
    font-family: 'roboto';
    color: #52332b;
    border: 0.1px solid #52332b;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #52332b;
    color: white;

}

@media screen and (max-width:720px) {
    .menuContentSection p {
        padding-left: 60px;
        padding-right: 60px;
    }

    .menuContentSection h2 {
        font-size: 40px;
    }

    .menuContentSection h5 {
        font-size: 17 px;
    }
}

@media screen and (max-width:320px) {
    .menuContentSection p {
        padding-left: 1px;
        padding-right: 1px;
        margin-top: 10px;

    }

    .menuContentSection h2 {
        font-size: 20px;
        margin: 0;
    }

    .menuContentSection h5 {
        font-size: 14px;
        margin: 0;
    }
}

@media screen and (max-width:720px) {
    .menuMainSection {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:320px) {
    .menuMainSection {
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        padding-left: 9px;
        padding-right: 9px;
        padding-bottom: 2px;
    }

    .column h5 {
        line-height: 1.75rem;
    }
}

.onlineShop {
    display: flex;
    flex-direction: row;
    /* padding: 300px; */
    margin: 0;
    width: 100%;
    padding-bottom: 100px;
}

.addCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f3f1f0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 90px;

}

.addCart img {
    height: auto;
    width: 100%;
}

.firstCart {
    background-color: white;
}

.firstCart p {
    font-family: 'caudex', serif;
    font-size: 30px;
    margin: 0;
}

.twoPrice {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.twoPrice p {
    text-decoration: line-through;
    font-weight: 100;
    color: #bbb5b3;
    font-size: 25px;
    margin: 0;
    padding: 10px;
}

.twoPrice h5 {
    color: #4b4a4a;
    font-size: 25px;
    margin: 0;
    padding: 10px;
}

@media screen and (max-width:720px) {
    .onlineShop {
        display: flex;
        flex-direction: column;
        /* padding: 300px; */
    }
}

.revewiAndContent {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 40px;
}

.mainTestimonialsection {
    display: flex;
    flex-direction: row;
    gap: 40px;


}

.testimonialBox {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgb(150, 150, 150);
    justify-content: center;
    text-align: start;
    align-items: start;
    margin: 0px;
    height: 350px;
}

.avatrSection {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    margin: 0px;
    align-items: start;


}

.avatarContent {
    display: flex;
    flex-direction: column;
    line-height: 0;
}

.testimonialPara {
    font-size: 12px;
    text-align: start;
}

.testimonialPara {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.75rem;
    color: rgb(99, 97, 97);
    letter-spacing: 0.5px;
    font-family: 'roboto', serif;
}

.companyyContentSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.companyyContentSection p1 {

    color: #52332b;
    font-size: 22px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.companyyContentSection h2 {
    font-size: 50px;
    margin: 0;
    font-family: 'caudex', serif;
}

.companyyContentPara {
    color: rgb(96, 94, 94);
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 200;
    text-align: start;
    line-height: 26px;
}

.starIcon {
    line-height: 3rem;
}

@media screen and (max-width:720px) {
    .revewiAndContent {
        display: flex;
        flex-direction: column;
    }

    .avatarContent h4 {
        line-height: 1rem;
    }

    .testimonialBox {
        padding-left: 5px;
        padding-right: 5px;
    }

    .avatrSection {
        justify-content: end;
        align-items: center;
        gap: 8px;
    }
}

@media screen and (max-width:320px) {
    .mainTestimonialsection {
        display: flex;
        flex-direction: column;
    }

    .revewiAndContent {
        padding: 4px;
    }

    .companyyContentSection {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1px;
    }

    .companyyContentSection p1 {
        font-size: 18px;
    }

    .companyyContentSection h2 {
        font-size: 28px;
    }

    .companyyContentSection p {
        text-align: center;

    }
}

.offerMainSection {
    display: flex;
    flex-direction: row;
    background-color: #52332b;
    padding: 0px;
}

.offerContentSection {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: start;
    padding-left: 90px;
    padding-right: 70px;
    width: 40%;
    text-align: start;
    align-items: start;
    margin-top: 2px;


}

.offerContentSection p {
    margin-bottom: 10;
    font-size: 20px;
    line-height: 1rem;
    font-family: 'roboto', serif;
    font-weight: 300;


}

.offerContentSection h1 {

    font-size: 61px;
    font-weight: 400;
    font-family: 'caudex', serif;
    margin: 2px;
}

.offerContentSection h5 {
    margin: 0;
    line-height: 1.75rem;
    font-size: 14px;
    letter-spacing: 0.75px;
}

.imageSection {
    width: 60%;
}

.imageSection img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:720px) {
    .offerMainSection {
        display: none;
    }
}

.menuContentSection {
    justify-content: center;
    text-align: center;
}

.blogCard {
    display: flex;
    flex-direction: row;
    padding: 50px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: start;
    cursor: pointer;
    height: auto;

}

.blogFirstCard {
    display: flex;
    flex-direction: column;
    width: 25%;
    border: 1px solid rgb(151, 149, 149);

}

.blogFirstCard h2 {
    padding: 10px;
    margin: 0;
}

.blogFirstCard p {
    padding: 10px;
    margin: 0;
}

.blogPara {
    font-size: 22px;
    margin: 0;
    color: #3d2520;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 15px;
}

@media screen and (max-width:720px) {
    .blogCard {
        display: flex;
        flex-direction: column;
        padding: 10px;

    }

    .blogFirstCard {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 1px solid rgb(151, 149, 149);

    }
}

@media screen and (max-width:320px) {
    .blogCard {
        display: flex;
        flex-direction: column;
        padding: 10px;

    }

    .blogFirstCard {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 1px solid rgb(151, 149, 149);

    }
}

.youEmailAddress {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    align-items: center;
    text-align: center;
    gap: 0;

}

.inputt {
    background-color: white;
    /* padding: 10px 15px; */
    border-radius: 4px;
}

.input {
    border: 1px solid #ccc;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-radius: 4px;
    outline: none;
}

.input::placeholder {
    color: #888;
    font-size: 15px;
    text-align: start;
    font-weight: 300;
}

.subscribeButton {
    border: 1px solid #ccc;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-radius: 4px;
    outline: none;
    background-color: #3d2520;
    margin-left: -20px;
}

.subscribeButton button {
    color: #ffffff;
    font-size: 15px;
    text-align: start;
    font-weight: 300;
    background-color: #3d2520;
    border: none;
    cursor: pointer;
}

.subscribeSection {
    background-color: #f3f1f0;
    padding-top: 60px;
    padding-bottom: 100px;
}

@media screen and (max-width:720px) {
    .subscribeButton {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .input {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media screen and (max-width:320px) {
    .youEmailAddress {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 3px;
        gap: 10px;
    }
}

.portfolio {
    display: flex;
    flex-direction: row;
}

.portfolioImg {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.portfolioImg img {
    width: 100%;
    height: auto;
}

@media screen and(max-width:720px) {
    .portfolio {
        display: flex;
        flex-direction: column;
    }
}

/* Footer */
.firstPartfooter {
}
.footerLogo img{
    width: 150px;
}
.footerCallIcon {
    display: flex;
    align-items: center;
    gap: 0px;

}

.footerCallIcon i {
    background-color: #ffffff;
    color: #52332b;
    padding: 15px;
    border-radius: 50%;
    font-size: 10px;
}

.footerTwoNumber {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 10px;

}
.footerTwoNumber p{
    margin: 2px;
    font-family: 'roboto' , serif;
    font-size: 14px;
    color: rgb(245, 242, 242);

}
.mainFooter{
    display: flex;
    flex-direction: row;
    background-color: #52332b;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 50px;
    padding-bottom: 50px;
    gap:100px;
    justify-content: center;
    align-items: center;
    text-align: start;
}
.footerLogo p{
    color: white;
    font-size: 30px;
    margin: 0;
    font-weight: 700;
}
.firstPartfooter p{
    color: white;
    cursor: pointer;
}
.callNumber p,i , img{
    cursor: pointer;
}
@media screen and (max-width:720px) {
    .mainFooter{
        display: flex;
        flex-direction: column;
       gap: 20px;
       align-items: start;
       padding-left: 20px;
    }
}